* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eefcff;
}

.header {
    height: 4svh;
    width: 99svw;
}

.main {
    height: 90svh;
    width: 99svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #3c4043;
    display: flex;
    height: 55svh;
    min-height: 532px;
    width: 45svh;
    min-width: 435px;
}

.calculator {
    background-color: #1b1b1b;
    
}

.footer {
    height: 4svh;
    width: 99svw;
    display: flex;
    justify-content: center;
    align-items: end;
}